body {
    background-color: rgb(216, 225, 232);
    font-family: verdana;
  }
  h1 {
    color: rgb(0, 0, 0);
  }
  h2 {
    color: rgb(34, 32, 32);

  }
  p {
    color: rgb(49, 55, 56);
    padding: 10px;
    margin: 0px;
  }
  ul {
    color: rgb(49, 55, 56);
    padding: 10px;
    margin: 25px;
  }
  dl {
    color: rgb(49, 55, 56);
    padding: 10px;
    margin: 25px;
  }
  di {
    color:rgb(10, 11, 11);

  }
  .text-border {
    border: 1px solid rgb(49, 55, 56);
    border-radius: 5px;
    padding: 10px 20px;
    display: inline-block;
  }